:root {
    --num_rows: 16;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Lobster", cursive;
    background-color: rgba(0, 0, 0, 0.082);
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 2fr 83VH 1fr;
    justify-items: center;
    align-items: center;
}

.title {
    align-self: flex-start;
    text-align: center;

    /* position: static; */
    width: 100vw;
    background-color: rgb(187, 187, 187);
    grid-row: 1;
    grid-column: span 3;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.grid {
    border: 15px solid rgba(131, 131, 131, 0.822);
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    grid-row: 2;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(var(--num_rows), 1fr);
    grid-template-rows: repeat(var(--num_rows), 1fr);
    justify-content: center;
    align-content: center;
}

.attribution {
    grid-row: 3;
    grid-column: 2;
}

.pixel {
    background: white;
    border: 1px solid rgba(233, 233, 233, 0.26);
    transition: 0.2s;
}

.controls {
    justify-self: right;
    /* border: 5px solid rgba(131, 131, 131, 0.822); */
    grid-column: 1;
    grid-row: 2;
    margin-right: 10px;
    padding: 20px;
    /* background-color: rgba(143, 143, 143, 0.2); */
    text-align: center;
    color: white;
}

.control-container {
    border: 2px solid rgba(131, 131, 131, 0.822);
    border-radius: 5px;
    width: 200px;
    background-color: rgb(187, 187, 187);
    font-size: 32px;
    margin-bottom: 10px;
}

#grid-selector {
    padding: 10px;
}

button {
    display: block;
    background-color: rgb(187, 187, 187);
    border: 2px solid rgba(131, 131, 131, 0.822);
    border-radius: 5px;
    font-family: "Lobster", cursive;
    font-size: 32px;
    color: white;
    margin: 0 auto 10px auto;
    width: 200px;
}

button:hover {
    background-color: rgb(158, 158, 158);
}

.click-to-draw {
    background-color: rgb(158, 158, 158);
}

.rainbow-mode {
    background-color: rgb(139, 150, 250);
}

.rainbow-mode:hover {
    background-color: rgba(139, 150, 250, 0.63);
}

input {
    display: block;
    margin: 0 auto 10px auto;
}

/******** Media Queries ********/
@media (max-width: 1400px) {
    .grid {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 1200px) {
    body {
        grid-template-columns: 1fr 70%;
    }

    .controls {
        margin: 0;
    }

    .attribution {
        grid-column: 1 / 3;
    }
}

@media (max-width: 900px),
(max-height: 900px) {
    .grid {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 750px) {
    body {
        grid-template-columns: 100vw;
        grid-template-rows: .5fr 1.3fr 1fr .3fr;
    }

    .title {
        
        grid-column: 1;
    }

    .grid {
        grid-column: 1;
    }

    .controls {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }

    .attribution {
        justify-content: center;
        grid-column: 1;
        grid-row: 4;
    }
}

@media (max-width: 550px),
(max-height: 650px) {
    .grid {
        width: 400px;
        height: 400px;
    }

    .title {
        font-size: 3.3rem;
    }
}

@media (max-width: 400px),
(max-height: 525px) {
    body {
        grid-template-rows: .2fr 1.3fr 1fr .2fr;
    }

    .title {
        font-size: 2.8rem;
        margin-bottom: 15px;
    }

    .grid {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 300px) {
    .title {
        font-size: 2.2rem;
    }

    .grid {
        width: 250px;
        height: 250px;
    }
}